<!DOCTYPE html>
<html>

<head>
    <title>NLTK Chatbot</title>
</head>

<body>
    <h2>NLTK Chatbot</h2>
    <input type="text" id="msg" placeholder="Type message">
    <button onclick="send()">Send</button>
    <div id="chatbox"></div>

    <script>
        function send() {
            let msg = document.getElementById("msg").value;

            fetch("/chat", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ message: msg })
            })
                .then(res => res.json())
                .then(data => {
                    document.getElementById("chatbox").innerHTML +=
                        "<p><b>You:</b> " + msg + "</p>" +
                        "<p><b>Bot:</b> " + data.reply + "</p>";
                });

            document.getElementById("msg").value = "";
        }
    </script>
</body>

</html>